/* Estilo para Productos - Accesorios */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin descripcion-acc{
    background-color: #dfc8a5;
    color: #8c140b;
    font-style: italic;
    text-align: center;
    font-size: 1.2rem;
}
p.descripcion-acc{
    @include descripcion-acc;
}
@mixin acc-img{
    width:250px;
    height:450px;
    border: solid;
}

%accesorios__title {
    font-size: 1.4rem;
    color: #8c140b;
    background-color: #dfc8a5;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.card{
    background-color: transparent;
    border: none;
    color: #8c140b;
    font-weight: bold;
}