* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col {
    margin-right: auto;
    margin-left: auto;
}

p {
    margin-top: 1.2rem;
}

i {
    text-decoration: none;
}

.row {
    font-family: 'Raleway', sans-serif;
}